<div class="header container-fluid">
  <h1>Supermercado</h1>
  <input type="text" placeholder="Buscar por nombre">
  <div class="carrito">Carrito</div>
</div>

<div class="container">

  <div *ngFor="let producto of productos">
    <div class="producto">
      <span class="oferta" *ngIf="producto.oferta>0">{{producto.oferta}}%</span>
      <img src={{producto.img}} alt={{producto.nombre}}>
      <div class="precios">
        <span [ngClass]="(producto.oferta>0)? precioTachado : precio">{{producto.precio}}€</span>
        <span class="precioOferta">{{ producto.precio - (producto.precio*(producto.oferta/100)) | number:'.2-2'}}€</span>
      </div>
      <div class="precioUnitario">
        <span>{{producto.precioUnitario}}</span>
      </div>
      <div class="nombre">
        <span>{{producto.nombre}}</span>
      </div>
      <div>
        <button type="button" class="btn btn-default glyphicon glyphicon-minus"></button>
        <input type="number" disabled value="1">
        <button type="button" class="btn btn-default glyphicon glyphicon-plus"></button>
      </div>

      <button type="button" class="btn btn-success btn-block">AÑADIR AL CARRITO</button>
    </div>
    <!-- producto -->
  </div>
</div>
<!-- container -->