.header{
    padding: 0;
    background-color: black;
    color: #7F7F7F;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    .nav-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        li{
            width: 33%;          
                
            .titulo{
                
                    display: block;
                    font-size: 1.4em;
                    text-align: right;
                    width: 100%;
                    padding: 10px; 
            }

            .buscador{
                padding: 10px;
                input{
                    width: 60%;
                }
            }

            .carrito{
                padding: 10px;                
                font-size: 1.5em;
                height: 100%;
                width: 100%;
                
                .badge{
                    background-color: green;
                }

                &:hover{
                    background-color: #88CC88;
                    color: white;
                }

                ul{
                    list-style: none;                    
                    padding: 0;
                    margin: 0;
                    right: 0;
                    border: none;
                    
                    li{
                        margin: 0;
                        padding: 0;
                        max-width: 98%;
                        

                        .producto-carrito{
                            height: 100px;
                            width: 600px;
                            padding: 0;
                            margin: 0;
                            border-bottom: 1px solid #7F7F7F;

                            .img{
                                height: 100%;
                                img{
                                    margin: 10%;
                                    max-height: 80%;
                                    width: auto;
                                    
                                }
                            }

                            .datos{
                                padding: 10px;
                                color: black;
                                font-size: 1em;

                                p{
                                    margin: 0;
                                }

                                .precio{
                                    font-size: 1.2em;
                                    font-weight: bold;
                                }
                            }
                            
                            .botones{

                                display: flex;
                                justify-content: center;
                                padding-top: 25px;
                                text-align: center;
                    
                                button{
                                    max-width: 20%;
                                    height: auto;
                                    margin: 0;
                                }
                                
                                input{
                                    max-width: 25%;
                                    text-align: center;
                                }
                            }

                            .eliminar{
                                height: 100px;
                                background-color: rgb(182, 182, 182);
                                color: grey;
                                font-size: 2em;
                                padding-top: 25px;
                                text-align: center;
                                border-left: 1px solid #7F7F7F;
                                border-bottom: 1px solid #7F7F7F;
                                cursor: pointer;
                            }
                        }

                        .cuenta{
                            width: 600px;
                            color: black;

                            p{
                                margin: 5px;                                
                            }

                            .col-xs-2{
                                p{
                                    text-align: right;
                                }
                            }
                        }

                        .tramitar{
                            margin: 0;
                            width: 600px;

                            div{
                                padding: 0;
                            }

                            .vaciar{
                                color: green;
                            }
                        }
                        
                    }
                    
                }
            }
            
        }
    }

}


.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    .producto{

        position: relative;
        max-width: 200px;
        margin: 2%;
        border: 1px solid #F0F0F0;

        .oferta{
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: red;
            color: white;
            font-weight: bold;
            font-size: 1.5em;
            padding: 3px 10px;
            border-radius: 15px;
        }
        
        img{            
            margin: 5%;
            max-width: 90%;
        }

        .precios{
            
            color: #7F7F7F;
            padding-left: 5%;
            
            .precio{
                font-size: 1.4em;
                margin-right: 2em;
                
            }

            .precioTachado{
                font-size: 1.1em;
                text-decoration: line-through;
                margin-right: 2em;
            }

            .precioOferta{
                font-size: 1.4em;
                color: red;
            }
        }

        .precioUnitario{
            color: #ABA4A7;
            text-align: right;
            font-size: 1em;
            padding-right: 5%;
        }
        
        .nombre{
            padding: 10px;
            height: 60px;
            overflow: hidden;
            color: #7F7F7F;
            font-size: 1em;
        }

        .botonera{

            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            button{
                max-width: 20%;
                height: auto;
                margin: 0;
            }
            
            input{
                max-width: 25%;
                text-align: center;
            }
        }
    }
}